[mysqld]
# Donde se guardan los datos de las bases de datos
datadir         = /var/lib/mysql
# Socket para comunicacion local
socket          = /run/mysqld/mysqld.sock
# 0.0.0.0 = acepta conexiones desde cualquier IP (necesario para que WordPress se conecte)
bind-address    = 0.0.0.0
port            = 3306
